:root{
    --green: #2f4a42;
}
body {
    font-family: 'Roboto Slab', sans-serif;
    background-color: #fff;
    font-size: 16px;
    font-weight: 400;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

p {
  line-height: 1.5;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 80px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #262424;
  text-transform: uppercase;
}

.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #000;
}

@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  background-color: #4EAD8B;
  line-height: 0;
}

.back-to-top:hover {
  background: #4EAD8B;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  padding: 120px 0;
  background: var(--green);
}

.hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}

.hero h2 {
  color: #dacdcd;
  margin: 15px 0 0 0;
  font-size: 26px;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content {
    padding: 40px 0;
}

.about h3 {
  font-size: 14px;
  font-weight: 700;
  color: #0b7435;
  text-transform: uppercase;
}

.about h2 {
  font-size: 24px;
  font-weight: 700;
  color: #4EAD8B;
}

.about p {
  margin: 15px 0 30px 0;
  line-height: 24px;
}

/*--------------------------------------------------------------
# Values
--------------------------------------------------------------*/
.values .box {
  padding: 30px;
  box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
  text-align: center;
  transition: 0.3s;
  height: 100%;
}

.values .box img {
  padding: 40px 40px;
  transition: 0.5s;
  transform: scale(1.1);
}

.values .box h3 {
  font-size: 24px;
  color: #0b7435;
  font-weight: 700;
  margin-bottom: 18px;
}

.values .box:hover img {
  transform: scale(1);
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding: 70px 0 60px;
}

.counts .count-box {
  display: flex;
  align-items: center;
  padding: 30px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.counts .count-box i {
  font-size: 42px;
  line-height: 0;
  margin-right: 20px;
}



.counts .count-box p {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .feature-box {
  padding: 24px 20px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
  height: 100%;
}

.features .feature-box h3 {
  font-size: 18px;
  color: #000;
  font-weight: 700;
  margin: 0;
}

.features .feature-box i {
  line-height: 0;
  background: #ecf3ff;
  padding: 4px;
  margin-right: 10px;
  font-size: 24px;
  border-radius: 3px;
  transition: 0.3s;
}

.features .feature-box:hover i {
  background: #0b7435;
  color: #fff;
}


/*--------------------------------------------------------------
# Our Services Section
--------------------------------------------------------------*/
.services .service-item {
  padding: 40px;
  background: #fff;
  height: 100%;
}

.services .service-item h3 {
  color: var(--color-default);
  font-weight: 700;
  margin: 0 0 20px 0;
  padding-bottom: 8px;
  font-size: 22px;
  position: relative;
  display: inline-block;
  border-bottom: 4px solid #eeeeee;
  transition: 0.3s;
}

.services .service-item p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}


.services .service-item:hover h3 {
  border-color: var(--color-primary);
}

@media (max-width:500px) {
  .services .service-item {
  padding: 20px;
  background: #fff;
  height: 100%;
}
  .services .service-item h3{
  font-size: 15px;
  display: flex;
  justify-content: center;
}
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  color: #444444;
  background: #fafbff;
  padding: 30px;
}

.contact .info-box i {
  font-size: 38px;
  line-height: 0;
  color: #0b7435;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #000;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  background: #fafbff;
  padding: 30px;
  height: 100%;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #0b7435;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #0b7435;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #3cb56c;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: #f6f9ff;
  padding: 0 0 30px 0;
  font-size: 14px;
}


.footer .footer-top {
  border-top: 1px solid #e1ecff;
  border-bottom: 1px solid #e1ecff;
  padding: 60px 0 30px 0;
}

.footer .footer-top .footer-info {
  margin-bottom: 30px;
}

.footer .footer-top .footer-info .logo span {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #2f4a42;
  margin-top: 3px;
}

.footer .footer-top .footer-info p {
  font-size: 14px;
  margin-bottom: 0;
}

.footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-top .footer-contact p {
  line-height: 26px;
}

.footer .copyright {
  text-align: center;
  padding-top: 30px;

}

.footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;

}

/*--------------------------------------------------------------
# Authentication
--------------------------------------------------------------*/
.card .card-header,.card .card-body,.card .card-footer
{
  background-color: transparent;
  padding: 20px 25px;
}

.card .card-header h4
{
  font-size: 16px;
  line-height: 28px;
  padding-right: 10px;
  margin-bottom: 0;
}

.btn
{
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  padding: .3rem .8rem;
  letter-spacing: .5px;
}

.btn-primary,.btn-primary.disabled
{
  box-shadow: 0 2px 6px #2f4a42;
  background-color: #2f4a42;
  border-color: #2f4a42;
}

.btn-primary:active,.btn-primary:hover,.btn-primary.disabled:active,.btn-primary.disabled:hover
{
  background-color: #467265 !important;
}


.login-brand
{
  margin: 20px 0;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #666;
  text-align: center;
}

body.layout-4 .card,body.layout-4 .article
{
  background-color: #fff;
  border-color: #fff;
}

.card{
    border: 0;
}

.card-img {
    border-radius: calc(0.25rem - 1px);
}

.blog-item{
    color: black;
    text-decoration: none;
}

.blog-item:hover{
    color: black;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    bottom: 10px;
}
.first-content-image{
    height: 300px;
    width: auto;
}

.second-content-images{
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: center;
}
